

.header_section{
    background: #5CB338;
    padding: 0.5rem 0;
}

.header_section .active{
    color: black;
}
.header_section .nav-item{
    transition: .4s;
}
.header_section .nav-item:hover{
    color: black;
    border-bottom: 2px solid #ECE852;
}

.banner_section{
    background: rgba(0, 0, 0, 0.607) url(../img/hero-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    padding: 10rem 0;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    align-content: center;
}