.heading{
    font-size: 2rem !important;
    text-align: center;
    margin-bottom: .2rem;
    color: black;
    letter-spacing: .3rem !important;
    font-weight: 700;
}

.inner_banner{
    background: #0a5b04 url(../img/innar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    padding: 2rem 0;
}

.header_section{
    background: #5CB338;
    padding: 0.5rem 0;
}

.header_section .active{
    color: black;
}
.header_section .nav-item{
    transition: .4s;
}
.header_section .nav-item:hover{
    color: black;
    border-bottom: 2px solid #ECE852;
}

.banner_section{
    background: rgba(0, 0, 0, 0.607) url(../img/hero-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    padding: 10rem 0;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    align-content: center;
}

.find_plant_section{
    background: #80808014;
}
.find_plant_section .quiz-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.Popular_Houseplants .card-body{
    background: #ece7528a;
}

.Curated_Section .card-body{
    background: #72b83014;
    
}

.Blooming_Section{
    background: #e8e6dee9;
}
.Blooming_Section .blooming_text{
    padding: 0 1.8rem;
}

.Footer_section{
    background: #354E33 url(../img/footer.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: multiply;
}
.soket{
    background: #0a5b04;
    padding: 1rem 0rem;
}
.soket .right p{
    margin: 0 !important;
    color: #fff;
}

/* Products Page  */

.parent_tips {
    background-color: #f8f9fad7;
}
.parent_tips .main_container{
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Contact Us Page  */

.contact_us .quiz-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }